html, body{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
.display{
	display: inline-block;
}
.display_none{
	display: none;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 80%;
    width: 100%;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
    border: none;
}
#camera--trigger, #complete{
    width: 200px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 100px);
}
.complete{
	display: inline-block;
	background-color: limegreen;
	color: white;
}
.taken{
    height: 80%!important;
    width: 100%!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 0;
    z-index: 2;
}
#return_arrow{
	width: 40px;
	height: 40px;
	display: none;
}

#btn_top{
	list-style: none;
	display: inline-block;
	color: white;
	font-weight: bolder;
	font-size: 16px;
}
#cancel_btn{
	position: fixed;
	top: 2%;
	left: 5%;
}
#publish_btn{
	position: fixed;
	top: 2%;
	right: 5%;
}
#edit_page{
	width: 100%;
	height: 100%;
	background-color: #828282;
}
.main_content{
	width: 85%;
	margin: auto;
	/*border: 1px solid red;*/
	margin-bottom: 10%;
	margin-top: 5%;
	color: white;
}
.plumb_pic{
	widows: 80px;
	height: 80px;
	/*border: 1px solid #000;*/
}
#add_btn{
	widows: 80px;
	height: 80px;
	display: inline-block;
	color: white;
}
#content{
	min-height: 300px;
}
#input_content{
	width: 100%;
	height: 100%;
	background-color: #828282;
	border: none;
	color: white;
}
.mini_pictures{
	list-style: none;
	width: 100%;
	/*border: 1px solid #000;*/
}
.mini_pictures li{
	display: inline-block;
	/*border: 1px solid red;*/
	text-align: center;
	margin-right: 3%;
}
.mini_img{
	width: 80px;
	height: 80px;
}
